/** custom CSS for wireframes file **/

/* home screen section */

html {
    height: 100%;
	background-color: black;
	color: white;
}

body {
    height: 100%;
}

.container{
    padding: 30px 10em;
    border: 1em solid black;
    height: 100%;
    width: 100% !important;

}

.inverted {
	filter: invert(1);
}

/* Classes
	.pull-left {
		float: left !important;
	}
.pull-right {
	float: right !important;
}

// Usage as mixins
	.element {
	.pull-left();
	}
.another-element {
.pull-right();
}
*/

em{
    font-size: 4em;

}

img[src="images/time.png"] {


}

img[src="images/notifications.jpeg"] {

}

.feed{
    padding-left: 7em;
}
img[src="images/todolist.jpeg"] {
	width: 18em;

}
img[src="images/slack.jpeg"] {
	height: 19em;

}

form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
    float: right;
}
.pad-down{
    padding-top: 30%;
}
