/*
*this is the code to invert the text to white and background to black
 */
main{
	background-color: black;
}

body {
	background-color: black;
	color: white;
	padding-top: 2rem;
	font-family: 'Montserrat', sans-serif;
}



/*
what time is it?
 */

.time {
	color: white;
	font-size: 31px;
	text-align: right;
}

/*
Weather
 */
.weather {
	display: inline-block;
	float:right;
	width:50%;
	font-size: 17px;
	padding-left: 12rem;
}

/*
slack
 */
.slack{
	width: 50%;
	display: inline-block;
	font-size: 17px;
}
.fa-slack{
	color: white;
	font-size: 8rem;
}




/*
weather icons from http://darkskyapp.github.io/skycons/
 */
figure {
	margin: 3em auto;
	width: 368px;
	height: 152px;
}

canvas {
	display: block;
	float: left;
	color: white;
}
