


 /*
 *this is the code to invert the text to white and background to black
  */

body {
	background-color: grey;
	color: white;
	padding-top: 2rem;
}
 /*
 * text and image sizing
  */
.fa-sun-o{
	color: white;
	font-size: 8rem;
}


p {
	font-size: 31px;
}

#time {
	color: white;
	font-size: 31px;
	text-align: right;
}
#welcome {
	text-align: center;
}


/*
weather icons from http://darkskyapp.github.io/skycons/
 */
 figure {
	 margin: 3em auto;
	 width: 368px;
	 height: 152px;
 }

 canvas {
	 display: block;
	 float: left;
	 margin-left: 8px;
	 margin-top: 8px;
 }



