/** custom CSS for wireframes file **/

/* home screen section */

img[src="images/clock.jpeg"] {
	width: 10em;
	padding-bottom: 30em;
}

img[src="images/conditions.jpeg"]{
	float: right;
}

img[src="images/notifications.jpeg"] {

}

img [src="images/todolist.jpeg"] {
    width: 18em;

}
img [src="images/slack.jpeg"] {
    height: 19em;

}