


 /*
 *this is the code to invert the text to white and background to black
  */

body {
	background-color: black;
	color: white;
	padding-top: 2rem;
}
 /*
 * text and image sizing
  */
.fa-sun-o{
	color: white;
	font-size: 8rem;
}


p {
	font-size: 31px;
}

#time {
	color: white;
	font-size: 31px;
	text-align: right;
}

