/*
*this is the code to invert the text to white and background to black
 */
main{
    background-color: black;
}

body {
    background-color: black;
    color: white;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}



/*
what time is it?
 */

.time {
    color: white;
    font-size: 31px;
    text-align: right;
}

/*
Weather
 */

.weather, .slack {
    font-size: 17px;
}

/*.weather {*/
    /*display: inline-block;*/
    /*float:right;*/
    /*width:50%;*/
    /*padding-left: 12rem;*/
/*}*/

/*
slack
 */
/*.slack{*/
    /*width: 50%;*/
    /*display: inline-block;*/
    /*font-size: 17px;*/
/*}*/
.fa-slack {
    color: white;
    font-size: 8rem;
}

.clock {
    color: white;
    font-size: 4rem;
}

